html{
    background-color: $color-background;
}

body{
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:64px 0px 32px 0px;

    .links{
        display: flex;
    }
    .links h5{
        margin-left: 24px;

    }
    .links h5:first-child{
        margin-left: 0px;
    }
    a{
        transition: color 300ms;
    }
    a:hover{
        color:$color-primary;
    }
}