// load in animation
nav, .hero, .why, .dealTerms, .process{
    animation: cubic-bezier(0.190, -0.005, 0.000, 1.000) fadeIn 2s;
}



html{
    background-color: $color-background;
    scroll-behavior: smooth;
}

body{
    padding:0 48px;
    max-width: $size-body-max;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:64px 0px 32px 0px;

    .links{
        display: flex;
    }
    h2{
        margin-right: 24px;
        margin-bottom: 0px;
        cursor: pointer;
    }
    h2:last-child{
        margin-right:0px;
    }
    a{
        transition: color 300ms;
    }
    a:hover{
        color:$color-primary;
    }
    .name{
        display: flex;
        flex-direction: row;
        align-items: center;
        .logo{
            margin-right: 12px;
        }
    }
}



section{
    padding: 64px 0px;
}
footer{
    padding: 48px 72px;
}



// -----------------

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 64px 0px;
    p{
        max-width: 640px;
    }
    .heroImgContainer{
        position: relative;
        margin-left: 32px;
    }
    .heroImg.base{
        width: 360px;
    }
    .heroImg.convo{
        position: absolute;
        bottom: 0;
    }
    .heroImg.left{
        left:-24px;
    }
    .heroImg.right{
        right:0px;
    }
    .heroImg.convo.one{
        bottom: 92px;
        animation: 0.8s cubic-bezier(0.190, -0.005, 0.000, 1.000) 1s 1 normal both running slideUp;
    }
    .heroImg.convo.two{
        bottom: 0px;
        animation: 0.8s cubic-bezier(0.190, -0.005, 0.000, 1.000) 2s 1 normal both running slideUp;
    }

}

.why{
    .whyCopy{
        max-width: 720px;
    }
    .cardGroup{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32px;
    }
    .card{
        border-top: 4px solid $color-primary;
        background-color: $color-tertiary;
        padding: 32px 32px 24px 32px;
        margin: 16px 0px;
        flex-grow: 1;
        margin-right: 24px;
        h2{
            margin-bottom: 16px;
        }
    }
    .card:last-child{
        margin-right: 0px;
    }
    .whyErdos{
        h2{
            color: $color-spot;
        }
        border-top: 4px solid $color-accent;
        background-color: $color-highlight;
        
    }
}


.deal{
    display: flex;
    h1{
        margin-bottom: 24px;
    }
    .dealTerms{
        padding: 72px 72px 56px 72px;
        button{
            margin-bottom: 32px;
        }
    }
    .want{
        background-color:$color-accent;
        h1,h2,h3,h6,p{
            color: $color-primary;
        }
        button{
            background-color: $color-primary;
            color: $color-accent;
            border:$color-primary;
        }
    }

    .offer{
        position: relative;
        background-color:$color-primary;
        h1,h2,h3,h6,p{
            color: $color-accent;
        }
        button{
            background-color: $color-accent;
            color: $color-primary;
            border:$color-accent;;
        }
    }
    .arrow{
        height: 112px;
        width: 112px;
        position: absolute;
        z-index: 10;
        left: -56px;
        top: calc(50% - 64px);
    }

}

.process{
    .processGroup{
        margin-top: 32px;
        margin-bottom: 32px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        .processStep{
            margin-right: 24px;
            padding-left: 16px;
            border-left: 2px solid $color-tertiary;
        }
        .processStep:last-child{
            margin-right: 0px;
        }
        p{
            margin-bottom: 0px;
        }
    }
}

footer{
    box-sizing:border-box;
    z-index: 101;
    position:relative;
    bottom:0px;
    transition: transform 0.3s;
    .footer-inside{
        position:relative;
        bottom:0px;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }
    p{
        max-width: 320px;
    }
    img{
        width:180px;
        height:180px;
    }
    background-color: $color-tertiary;
    .talkToUs{
        padding-right:96px;
    }
    .founders{
        display: flex;
        flex-direction:row;        
        img:first-child{
            margin-right: 72px;
        }
    }
    .footer-twitter{
        float: right;
        margin-top: 1rem;
    }
}
footer:hover{
    transform: scale(1.01);
    cursor:url('/assets/img/aboutCursor.svg'), auto
}
.overlay{
    position: fixed;
    z-index: 100;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    pointer-events: none;
    opacity: 0;
    background-color: $color-overlay;
}
.modal{
    opacity: 0;
    max-width: $size-body-max;
    position: fixed;
    top:100vh;
    padding: 0px;
    display: flex;
    z-index: 102;
    flex-direction: row;
    background-color: $color-tertiary;
    
    .mobileNav{
        display:none;
    }
    p{
        color: $color-primary;
    }
    .block{
        padding: 32px 32px;
    }

    .logo{
        width: 5%;
        border-right: 1px dashed $color-secondary;
        display: flex;
        justify-content: center;
        padding-top: 40px;
        .tilted-logo{
            img{
                margin-bottom: 12px;
                width: 16px;
                height: 16px;
                transform: rotate(90deg);
            }
            h2{
                margin-bottom: 0px;
            }
            
            writing-mode: vertical-rl;
            display: flex;
            align-items: center;
        }
        p{
            writing-mode: vertical-rl;
            bottom: 0px;
            margin-bottom: 32px;
            position: absolute;
            bottom: 32px;
        }
        .logo-container{
            position: relative;
        }
        .close-modal-logo{
            position: absolute;
            bottom: 32px;
            left: calc(50% - 5px);
        }
    }
    .story{
        width: 40%;
        border-right: 1px dashed $color-secondary;
        p:last-child{
            margin-bottom: 0px;
        }
    }
    .not-story{
        width: 55%;
        .founder:first-child{
            margin-bottom: 32px;
        }
        .founder p{
            margin-bottom: 0px;
        }
        .founder-bio{
            display: flex;
            flex-direction: row;
            img{
                margin-right:16px;
                width:64px;
                height: 64px;
            }
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            p, h2{
                margin-bottom: 0px;
            }
            margin-bottom: 8px;
        }
        .about{
            display: flex;
            flex-direction: row;
            .team{
                max-width: 50%;
                border-right: 1px dashed $color-secondary;
            }
        }
        .cta{
            border-top: 1px dashed $color-secondary;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            div{
                margin-right: 32px;
                max-width: 364px;
            }
            .circle-button{
                position: relative;
                cursor: pointer;
                background-color: $color-primary;
                border-radius: 100px;
                height: 104px;
                width: 104px;
                display: flex;
                align-items: center;
                justify-content: center;
                h2{
                    color: white;
                    margin-bottom: 2px;
                    margin-left:0px;
                    margin-right:0px;
                    transition: all 300ms;
                }
                img{
                    opacity: 0.3;
                    transition: all 300ms;
                }
                transition: all 300ms;
            }
            .circle-button:hover{
                transform: scale(1.05);
                h2{
                    margin-left:-1px;
                    margin-right:1px;
                }
                img{
                    opacity: 1;
                }

            }
        }
    }
    .contact {
        .street, .mail{
            margin-bottom: 38px;
        }
        p{
            margin-bottom: 0px;
        }
    }
    .blogContainer {
        display: flex;
        flex-direction: row;
            max-width: 50%;
    }

}