html{
    background-color: $color-background;
}

body{
    max-width: 1136px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: space-between;
    margin:64px 0px 32px 0px;

    .links{
        display: flex;
    }
    .links h5{
        margin-left: 24px;

    }
    .links h5:first-child{
        margin-left: 0px;
    }
    a{
        transition: color 300ms;
    }
    a:hover{
        color:$color-primary;
    }
}

button{
    font-size: 1.8rem;
    padding: 16px 24px;
    border-radius:12px;
    background-color: $color-highlight;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    border: 1px solid $color-tertiary;
}

.card{
    background-color: $color-tertiary;
    padding:24px 32px;
    margin: 16px 0px;
}

section{
    padding:48px 0px;
}
footer{
    padding-top: 48px;
}
nav{
    padding-bottom: 48px;
}


// -----------------

.hero {
    display: flex;
    flex-direction: row;
    align-items: center
}

.cardGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deal{
    display: flex;
    .want{
        padding: 48px 0px;
        background-color:$color-accent;
        h1,h2,h3,h6,p{
            color: $color-primary;
        }
        button{
            background-color: $color-primary;
            color: $color-accent;
            border:$color-primary;
        }
    }

    .offer{
        padding: 48px 0px;
        background-color:$color-primary;
        h1,h2,h3,h6,p{
            color: $color-accent;
        }
        button{
            background-color: $color-accent;
            color: $color-primary;
            border:$color-accent;;
        }
    }
    .arrow{
        height: 160px;
        width: 160px;
        position: absolute;
        z-index: 10;
        left: calc(50% - 80px);
    }

}

.process{
    .processGroup{
        display: flex;
        flex-direction:row;
        justify-content: space-between;
    }
}

footer{
    display: flex;
    flex-direction:row;
    img{
        width:180px;
        height:180px;
    }
    background-color: $color-tertiary;
    padding-left: 96px;
    padding-right: 96px;
    }
    .talkToUs{
        padding-right:96px;
    }
}

