$size-body: 1280px;
$color-primary: #0B4022;
$color-secondary: #6B7D76;
$color-tertiary: #EDF2F1;
$color-background: #F7F9F9;
$color-accent:#FFBF5F;
$color-spot:#B56233;
$color-highlight:#FFF;

@keyframes slideUp {
    0% {
      transform: translateY(16px);
      opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }  