$size-body-max: 1280px;
$size-body-min: 880px;
$color-primary: #0B4022;
$color-secondary: #6B7D76;
$color-tertiary: #EDF2F1;
$color-background: #F7F9F9;
$color-accent:#FFBF5F;
$color-spot:#B56233;
$color-highlight:#FFF;
$color-overlay:rgba(39, 46, 42, 0.4);

@keyframes slideUp {
    0% {
      transform: translateY(16px);
      opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }  
  @keyframes fadeIn {
    0% {
      transform: translateY(8px);
      opacity: 0;

    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }  